<div class="card col-12-md">
  <div class="card-body">
    <h4 class="card-title">{{this.headline}}</h4>
    <p class="card-text">{{this.summary}}</p>
    <p class="card-text">{{this.url}}</p>
    <a data-id="{{this._id}}" class="btn btn-primary article-notes-btn" id="" data-toggle="modal" data-target="#myModal">Article Notes</a>
{{!--     <button type="button" class="btn btn-info btn-lg">Open Modal</button> --}}
    <a data-id="{{this._id}}" class="btn btn-primary remove-notes-btn">Delete Article from Saved</a>
  </div>
</div>
